In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('crypto.csv')

In [3]:
df.head()

,Unnamed: 0,names,price,change,pchange,Volume in Currency (Since 0:00 UTC),Volume in Currency (24Hr),Total Volume All Currencies (24Hr),Circulating Supply
0,0,BTC-USD,"67,187.45",341.5600,+0.51%,42.336B,42.336B,42.336B,19.648M
1,1,ETH-USD,"3,939.72",141.7600,+3.73%,21.356B,21.356B,21.356B,120.109M
2,2,USDT-USD,1.0019,0.0015,+0.15%,87.892B,87.892B,87.892B,101.045B
3,3,BNB-USD,471.33,39.2900,+9.09%,3.485B,3.485B,3.485B,149.541M
4,4,SOL-USD,145.80,4.7200,+3.35%,5.735B,5.735B,5.735B,443.132M

In [4]:
df.drop(columns='Unnamed: 0',axis=1,inplace=True)

In [5]:
df.head()

,names,price,change,pchange,Volume in Currency (Since 0:00 UTC),Volume in Currency (24Hr),Total Volume All Currencies (24Hr),Circulating Supply
0,BTC-USD,"67,187.45",341.5600,+0.51%,42.336B,42.336B,42.336B,19.648M
1,ETH-USD,"3,939.72",141.7600,+3.73%,21.356B,21.356B,21.356B,120.109M
2,USDT-USD,1.0019,0.0015,+0.15%,87.892B,87.892B,87.892B,101.045B
3,BNB-USD,471.33,39.2900,+9.09%,3.485B,3.485B,3.485B,149.541M
4,SOL-USD,145.80,4.7200,+3.35%,5.735B,5.735B,5.735B,443.132M

In [6]:
df.dtypes

names                                   object
price                                   object
change                                 float64
pchange                                 object
Volume in Currency (Since 0:00 UTC)     object
Volume in Currency (24Hr)               object
Total Volume All Currencies (24Hr)      object
Circulating Supply                      object
dtype: object

In [7]:
df.isnull().sum()

names                                  0
price                                  0
change                                 0
pchange                                0
Volume in Currency (Since 0:00 UTC)    0
Volume in Currency (24Hr)              0
Total Volume All Currencies (24Hr)     0
Circulating Supply                     0
dtype: int64

In [8]:
df['price']=df['price'].str.replace(',','')

In [9]:
df['price']=df['price'].astype(float)

In [10]:
df['change']=df['change'].astype(float)

In [11]:
df['pchange']=df['pchange'].str.replace('+','')

C:\Users\chowd\AppData\Local\Temp\ipykernel_7756\3488544896.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['pchange']=df['pchange'].str.replace('+','')

In [12]:
df['pchange']=df['pchange'].str.replace('%','')

In [13]:
df['pchange']=df['pchange'].astype(float)

In [14]:
df['Volume in Currency (Since 0:00 UTC)']=df['Volume in Currency (Since 0:00 UTC)'].str.replace('B','')

In [15]:
df['Volume in Currency (Since 0:00 UTC)']=df['Volume in Currency (Since 0:00 UTC)'].str.replace('M','')

In [16]:
df['Volume in Currency (Since 0:00 UTC)']=df['Volume in Currency (Since 0:00 UTC)'].astype(float)

In [17]:
df['Volume in Currency (24Hr)'].value_counts()

42.336B     4
1.4M        4
587.506M    4
647.659M    4
195.853M    4
716.724M    4
356.306M    4
87.142M     4
425.682M    4
685.899M    4
477.684M    4
347.729M    4
456.798M    4
21.356B     4
685.096M    4
3.523B      4
3.058B      4
796.991M    4
9.803B      4
1.96B       4
54.317M     4
5.735B      4
3.485B      4
87.892B     4
630.26M     4
Name: Volume in Currency (24Hr), dtype: int64

In [18]:
df['Volume in Currency (24Hr)']=df['Volume in Currency (24Hr)'].str.replace('M','')
df['Volume in Currency (24Hr)']=df['Volume in Currency (24Hr)'].str.replace('B','')

In [19]:
df['Volume in Currency (24Hr)']=df['Volume in Currency (24Hr)'].astype(float)

In [20]:
df['Total Volume All Currencies (24Hr)'].value_counts()

42.336B     4
1.4M        4
587.506M    4
647.659M    4
195.853M    4
716.724M    4
356.306M    4
87.142M     4
425.682M    4
685.899M    4
477.684M    4
347.729M    4
456.798M    4
21.356B     4
685.096M    4
3.523B      4
3.058B      4
796.991M    4
9.803B      4
1.96B       4
54.317M     4
5.735B      4
3.485B      4
87.892B     4
630.26M     4
Name: Total Volume All Currencies (24Hr), dtype: int64

In [21]:
df['Total Volume All Currencies (24Hr)']=df['Total Volume All Currencies (24Hr)'].str.replace('M','')
df['Total Volume All Currencies (24Hr)']=df['Total Volume All Currencies (24Hr)'].str.replace('B','')
df['Total Volume All Currencies (24Hr)']=df['Total Volume All Currencies (24Hr)'].astype(float)

In [22]:
df['Circulating Supply']=df['Circulating Supply'].str.replace('M','')
df['Circulating Supply']=df['Circulating Supply'].str.replace('B','')
df['Circulating Supply']=df['Circulating Supply'].str.replace('T','')
df['Circulating Supply']=df['Circulating Supply'].str.replace(',','')
df['Circulating Supply']=df['Circulating Supply'].astype(float)

In [23]:
from sklearn.preprocessing import LabelEncoder
label=LabelEncoder()
df['names']=label.fit_transform(df['names'])

In [24]:
df.dtypes

names                                    int32
price                                  float64
change                                 float64
pchange                                float64
Volume in Currency (Since 0:00 UTC)    float64
Volume in Currency (24Hr)              float64
Total Volume All Currencies (24Hr)     float64
Circulating Supply                     float64
dtype: object

In [25]:
df.head()

,names,price,change,pchange,Volume in Currency (Since 0:00 UTC),Volume in Currency (24Hr),Total Volume All Currencies (24Hr),Circulating Supply
0,4,67187.4500,341.5600,0.51,42.336,42.336,42.336,19.648
1,8,3939.7200,141.7600,3.73,21.356,21.356,21.356,120.109
2,21,1.0019,0.0015,0.15,87.892,87.892,87.892,101.045
3,3,471.3300,39.2900,9.09,3.485,3.485,3.485,149.541
4,15,145.8000,4.7200,3.35,5.735,5.735,5.735,443.132

In [26]:
#"Volume in Currency (24Hr)" refers to the total trading volume of the respective cryptocurrency over the past 24 hours;
#Volume in Currency (Since 0:00 UTC)"refers to the total amount of the respective cryptocurrency traded, expressed in terms of a specific fiat currency, since the start of the day at 0:00 UTC (Coordinated Universal Time).

In [27]:
##Total Volume All Currencies (24Hr) measures the overall trading activity across all cryptocurrencies combined in the market.
##Volume in Currency (24Hr) measures the trading activity of a specific cryptocurrency (or fiat currency) individually.

In [28]:
#"Circulating Supply" in a cryptocurrency context refers to the total number of units of a particular cryptocurrency that are currently in circulation and available to the public for buying, selling, and trading.

In [29]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [30]:
X=df.drop(columns='price',axis=1)
Y=df['price']

In [31]:
X

,names,change,pchange,Volume in Currency (Since 0:00 UTC),Volume in Currency (24Hr),Total Volume All Currencies (24Hr),Circulating Supply
0,4,341.5600,0.51,42.336,42.336,42.336,19.648
1,8,141.7600,3.73,21.356,21.356,21.356,120.109
2,21,0.0015,0.15,87.892,87.892,87.892,101.045
3,3,39.2900,9.09,3.485,3.485,3.485,149.541
4,15,4.7200,3.35,5.735,5.735,5.735,443.132
...,...,...,...,...,...,...,...
95,2,24.3500,5.94,716.724,716.724,716.724,19.663
96,9,-0.1600,-1.10,195.853,195.853,195.853,459.973
97,11,2.1500,2.52,647.659,647.659,647.659,74.287
98,7,1.9600,5.33,587.506,587.506,587.506,145.926
99,13,-0.3343,-5.85,630.260,630.260,630.260,1.044

In [32]:
Y

0     67187.4500
1      3939.7200
2         1.0019
3       471.3300
4       145.8000
         ...
95      434.0500
96       14.5900
97       87.5100
98       38.7900
99        5.3781
Name: price, Length: 100, dtype: float64

In [33]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.1, random_state=1)

In [34]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [35]:
model = RandomForestRegressor(n_estimators=100, random_state=42)

In [36]:
model.fit(X_train, Y_train)

RandomForestRegressor(random_state=42)

In [37]:
predictions = model.predict(X_test)

In [38]:
predictions

array([3.93070870e+03, 2.22847220e-01, 5.25398244e+00, 6.04552240e-01,
       2.75252274e+00, 6.74958033e+04, 4.60422740e+01, 9.73569410e-01,
       1.45356145e+01, 1.94772756e+01])

In [39]:
mse = mean_squared_error(Y_test, predictions)
mae = mean_absolute_error(Y_test, predictions)

print("Mean Squared Error:", mse)
print("Mean Absolute Error:", mae)

Mean Squared Error: 11.86048499804438
Mean Absolute Error: 1.8088439160078458

In [40]:
from sklearn.metrics import r2_score
r2 = r2_score(Y_test, predictions)
print("R-squared (R2) Score:", r2)

R-squared (R2) Score: 0.9999999707935708

In [41]:
input=(4,341.56,0.51,42.336,42.336,42.336,19.648)

input1 = np.asarray(input)

# reshape the np array as we are predicting for one instance
input_data_reshaped = input1.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)

[66554.9727]

C:\Users\chowd\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [42]:
input=(8,141.76,3,21.356,21.356,21.356,120.109)

input1 = np.asarray(input)

# reshape the np array as we are predicting for one instance
input_data_reshaped = input1.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)

[3938.8839]

C:\Users\chowd\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [43]:
pip install xgboost

Collecting xgboost
  Downloading xgboost-2.0.3-py3-none-win_amd64.whl (99.8 MB)
     ---------------------------------------- 99.8/99.8 MB 1.2 MB/s eta 0:00:00
Requirement already satisfied: scipy in c:\users\chowd\anaconda3\lib\site-packages (from xgboost) (1.10.0)
Requirement already satisfied: numpy in c:\users\chowd\anaconda3\lib\site-packages (from xgboost) (1.23.5)
Installing collected packages: xgboost
Successfully installed xgboost-2.0.3
Note: you may need to restart the kernel to use updated packages.

In [46]:
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

model = XGBRegressor(n_estimators=100, learning_rate=0.1, random_state=42)
model.fit(X_train, Y_train)
xbpredictions = model.predict(X_test)
mse = mean_squared_error(Y_test, xbpredictions)
print("Mean Squared Error:", mse)
r2 = r2_score(Y_test, predictions)
print("R-squared (R2) Score:", r2)

Mean Squared Error: 30.486869877247738
R-squared (R2) Score: 0.9999999249261218

In [47]:
input=(4,341.56,0.51,42.336,42.336,42.336,19.648)

input1 = np.asarray(input)

# reshape the np array as we are predicting for one instance
input_data_reshaped = input1.reshape(1,-1)

xbprediction = model.predict(input_data_reshaped)
print(xbprediction)

[67181.24]

In [48]:
input=(8,141.76,3,21.356,21.356,21.356,120.109)

input1 = np.asarray(input)

# reshape the np array as we are predicting for one instance
input_data_reshaped = input1.reshape(1,-1)

xbprediction = model.predict(input_data_reshaped)
print(xbprediction)

[3939.7876]

# Saving my Model

In [50]:
import pickle

In [51]:
filename='crypto.sav'
pickle.dump(model,open(filename,'wb'))

In [52]:
load_data=pickle.load(open('crypto.sav','rb'))

In [53]:
input=(8,141.76,3,21.356,21.356,21.356,120.109)

input1 = np.asarray(input)

# reshape the np array as we are predicting for one instance
input_data_reshaped = input1.reshape(1,-1)

xbprediction = load_data.predict(input_data_reshaped)
print(xbprediction)

[3939.7876]